body {
  background-color: #a89f91;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-radius: 200px;
  box-shadow: 15px 15px 30px;
  color: blanchedalmond;
}

h1 {
  font-family: sans-serif;
  color: #7c3f51;
  text-align: center;
 
  color:white;
 
}

p{
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    color: azure;
 
    color: white;
 
    
}

 
    

 #link {
 color:#7c3f51;
 
 
 }

 a{
    text-decoration: none
 }

 a:hover{
    text-decoration:underline
 }
 
 footer{
  background-color: #a89f91;
  width: 200px;
  height: 200px;
 }


 

 
 